{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perro Parrandero</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <div class="row">
        <div class="cell small-6 medium-4 large-10 hero-full-screen">
            <nav class="hover-line-menu">
                <ul class="menu align-center">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Conocenos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
            <h1>Perro </h1>
        </div>
        <div class="cell small-6 medium-4 large-10 hero-full-screen primary">
            <h2>Parrandero</h2>
        </div>
    </div>
  </body>
</html>
