body{
  font-family: 'simplifica', sans-serif;
  position: relative;
  cursor: default;
}
h1{
  font-family: 'simplifica', sans-serif;
  font-size: 95px;
  color:rgba(133, 230, 226, 0.9);
  width: 400px;
  letter-spacing: 0.085em;
  font-weight:600;
}
h2{
  font-family: 'simplifica', sans-serif;
  font-size: 100px;
  color:black;
  width: 1px;
  letter-spacing: 0.085em;
  margin-top: 20px;
  font-weight:600;       
}
@font-face {
  font-family: 'simplifica';
  src: url('/static/fonts/Typeface.ttf') format('truetype');
}
@media screen and (max-width: 768px) {
    h1{
      font-size: 55px;
      width: 250px;
    }
    h2{
      font-size: 50px;  
      letter-spacing: 0.035em;        
      }

}
.hero-full-screen {
  height: 50vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  background-size: cover;
}
.primary{
  background-color:rgba(133, 230, 226, 0.9);
}
.hover-line-menu .menu a {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  padding: 1.2rem 1.5rem;
}

